<div class="container">
    <div class="row mx-0 justify-content-center">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="w-100 rounded-1 p-4 border bg-white">
                <label class="d-block mb-4">
                    <span class="form-label d-block">Email address</span>
                    <input name="email" #email="ngModel" ngModel type="email" class="form-control"
                        placeholder="xyz@example.com" required />

                    <span class="text-danger" *ngIf="!email.valid && email.touched">
                        Email cannot be null
                    </span>
                </label>

                <label class="d-block mb-4">
                    <span class="form-label d-block">Password</span>
                    <input name="password" #password="ngModel" ngModel type="password" class="form-control"
                        placeholder="(must be 3+ chars)" required />
                    <span class="text-danger" *ngIf="!password.valid && password.touched">
                        Password cannot be null
                    </span>
                </label>

                <div class="mb-3 btn-container">
                    <button [disabled]="!loginForm.valid" type="submit"
                        class="btn btn-primary px-3 rounded-3 submit-btn">
                        Login
                    </button>
                    <button class="btn create" routerLink="/register">Create an account?</button>
                </div>
            </form>
        </div>
    </div>
</div>